<table class="border-collapse border-2 border-gray-500 mt-10 mx-auto shadow-xl">
  <thead>
  <tr class="bg-gray-100">
    <th colspan="8" class="text-center p-2"><a href="{{ competition.url }}" class="underline">{{ competition.title }}</a></th>
  </tr>
  <tr class="bg-gray-100">
    <th class="p-2 text-center">Player</th>
    <th class="p-2 text-center"><span class="sm:hidden">Pts</span><span class="hidden sm:inline">Points</span></th>
    <th class="p-2 text-center"><span class="sm:hidden">Pld</span><span class="hidden sm:inline">Played</span></th>
    <th class="p-2 text-center">Won</th>
    <th class="p-2 text-center hidden sm:table-cell">Lost</th>
    <th class="p-2 text-center hidden sm:table-cell">Legs For</th>
    <th class="p-2 text-center hidden sm:table-cell">Against</th>
    <th class="p-2 text-center"><span class="sm:hidden">L/D</span><span class="hidden sm:inline">Leg Diff</span></th>
  </tr>
  </thead>
  <tbody>

  {% for row in craft.league.getLeaderBoard(competition) %}
    <tr class="{% if loop.first %}bg-yellow-400{% elseif loop.index == 2 %}bg-gray-300{% elseif loop.index == 3 %}bg-yellow-700 text-white{% elseif loop.last %}bg-red-200{% else %}bg-green-100{% endif %}">
      <th class="border border-gray-400 px-4 py-2 text-left">
        <a class="underline" href="{{ row.playerUrl }}">{{ row.playerName }}</a></th>
      <th class="border border-gray-400 px-4 py-2 text-right">{{ row.totalGamesWon * 3 }}</th>
      <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalGamesPlayed }}</td>
      <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalGamesWon }}</td>
      <td class="border border-gray-400 px-4 py-2 text-right hidden sm:table-cell">{{ row.totalGamesPlayed - row.totalGamesWon }}</td>
      <td class="border border-gray-400 px-4 py-2 text-right hidden sm:table-cell">{{ row.totalLegsFor }}</td>
      <td class="border border-gray-400 px-4 py-2 text-right hidden sm:table-cell">{{ row.totalLegsAgainst }}</td>
      <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalLegsFor - row.totalLegsAgainst }}</td>
    </tr>
  {% endfor %}
  </tbody>

</table>
