{% extends "_layout" %}
{% set title = "Order of Merit" %}

{% block content %}

  <h1 class="text-5xl text-center mb-5">Order of Merit</h1>

  <div class="md:grid grid-cols-2 gap-4">

    <div>
      <h2 class="text-3xl text-center">High Checkouts (100+)</h2>
      <table class="border-collapse border-2 border-gray-500 my-5 mx-auto shadow-xl">
        <tr class="bg-gray-100">
          <th class="px-4 py-2">Player</th>
          <th class="px-4 py-2">Checked out</th>
          <th class="px-4 py-2">Game</th>
        </tr>
        {% for checkout in craft.superTable.blocks().fieldId(5).with(['player']).all()|sort((a,b) => b.checkout <=> a.checkout ) %}
        <tr class="{% if loop.first or checkout.checkout == 170 %}bg-yellow-400{% elseif loop.index == 2 %}bg-gray-300{% elseif loop.index == 3 %}bg-yellow-700 text-white{% else %}bg-green-100{% endif %}">
          <td class="border border-gray-400 px-4 py-2">
            <a class="underline" href="{{ checkout.player[0].url }}">{{ checkout.player[0].title }}</a>
          </td>
          <td class="border border-gray-400 px-4 py-2">
            {{ checkout.checkout }}
          </td>
          <td class="border border-gray-400 px-4 py-2">
            <a class="underline" href="{{ checkout.owner.url }}">{{ checkout.owner.title }}</a>
          </td>
        {% else %}
          <tr>
            <td>No high checkouts</td>
          </tr>
        {% endfor %}
      </table>

      {% include "_partials/_coronaCup.twig" %}

    </div>

    <div>
      <h2 class="text-3xl text-center">High Scores (140+)</h2>
      <table class="border-collapse border-2 border-gray-500 mt-5 mx-auto shadow-xl">
        <tr class="bg-gray-100">
          <th class="px-4 py-2">Player</th>
          <th class="px-4 py-2">Scored</th>
          <th class="px-4 py-2">Game</th>
        </tr>
        {% set coronaCup = [
          { coronaPlayer:"Billy", link: "/players/billy", score: 180, game: "Corona Cup 1 Semi Final (vs Jim)"}
        ] %}
        {% set scores = craft.superTable.blocks().fieldId(6).with(['player']).all() %}
        {% set scores = coronaCup|merge(scores) %}
        {% set scores = scores|sort((a,b) => b.score <=> a.score ) %}
        {% for score in scores %}
        <tr class="{% if loop.first or score.score == 180 %}bg-yellow-400{% elseif loop.index == 2 %}bg-gray-300{% elseif loop.index == 3 %}bg-yellow-700 text-white{% else %}bg-green-100 odd:bg-green-200{% endif %}">
          <td class="border border-gray-400 px-4 py-2">
            {% if score.player is not defined %}
              <a class="underline" href="{{ score.link }}">
                {{ score.coronaPlayer }}
              </a>
            {% else %}
              <a class="underline" href="{{ score.player[0].url }}">{{ score.player[0].title }}</a>
            {% endif %}
          </td>
          <td class="border border-gray-400 px-4 py-2">
            {{ score.score }}
          </td>
          <td class="border border-gray-400 px-4 py-2">
            {% if score.player is not defined %}
              {{ score.game }}
            {% else %}
              <a class="underline" href="{{ score.owner.url }}">{{ score.owner.title }}</a>
            {% endif %}
          </td>
        {% else %}
          <tr>
            <td class="border border-gray-400 px-4 py-2" colspan="3">No high checkouts</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>

{% endblock %}
