{% extends "_layout" %}

{% block content %}
  {% set gamesQuery = craft.entries.section('games').with(['player1', 'player2']) %}
  {% set players = craft.entries.section('players').all() %}

  <table class="border-collapse border-2 border-gray-500 mt-5 mx-auto">
    <tr>
      <th class="p-2 text-center">Player</th>
      <th class="p-2 text-center">Points</th>
      <th class="p-2 text-center">Played</th>
      <th class="p-2 text-center">Won</th>
      <th class="p-2 text-center">Lost</th>
      <th class="p-2 text-center">Legs For</th>
      <th class="p-2 text-center">Legs Against</th>
      <th class="p-2 text-center">Leg Diff</th>
    </tr>
    {% for row in craft.league.leaderboard %}
      <tr class="{{ loop.first ? 'text-green-500' }} {{ loop.last ? 'text-red-500' }}">
        <th class="border border-gray-400 px-4 py-2 text-right">{{ craft.entries.title(row.playerName).one().link }}</th>
        <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalGamesWon * 3 }}</td>
        <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalGamesPlayed }}</td>
        <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalGamesWon }}</td>
        <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalGamesPlayed - row.totalGamesWon }}</td>
        <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalLegsFor }}</td>
        <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalLegsAgainst }}</td>
        <td class="border border-gray-400 px-4 py-2 text-right">{{ row.totalLegsFor - row.totalLegsAgainst }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
