{% extends "_layout" %}
{% set cumulativeGames = ['Halfit', 'Shanghai'] %}
{% set loseLivesGames = ['25s and Bulls', '27s','50 to 60'] %}

{% block content %}
  <div class="block mx-auto max-w-screen-xl relative">
    <h1 class="text-5xl text-center">Scorers</h1>

    <div class="text-center">
      {% if currentUser %}
        <p><a class="underline" href="/scorers/n01">n01</a></p>
      {% endif %}
      {% for game in cumulativeGames %}
        <p>
          <a class="underline" href="/scorers/cumulative-scores?game={{ game }}">{{ game }} (pre-filled with all system players)</a>
        </p>
        <p>
          <a class="underline" href="/scorers/cumulative-scores?game={{ game }}&blank=true">{{ game }} (no players)</a>
        </p>
      {% endfor %}
      {% for game in loseLivesGames %}
      <p>
        <a class="underline" href="/scorers/lose-lives?game={{ game }}">{{ game }} (pre-filled with all system players)</a>
      </p>
      <p>
        <a class="underline" href="/scorers/lose-lives?game={{ game }}&blank=true">{{ game }} (no players)</a>
      </p>
      {% endfor %}

    </div>
  </div>
{% endblock %}

